 .u-section-1 {
  min-height: 500px;
}

.u-section-1 .u-sheet-1 {
  min-height: 749px;
}

.u-section-1 .u-text-1 {
  font-family: "Carter One";
  width: 346px;
  margin: 17px auto 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 407px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }
}iframe{
	 overflow-y: hidden;
border:none;
	} 