 .u-section-1 {
  min-height: 500px;
}

.u-section-1 .u-sheet-1 {
  min-height: 749px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -32px 30px 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: "Carter One";
  margin: 11px auto 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 407px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 575px) {
  .u-section-1 .u-icon-1 {
    margin-top: -45px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 24px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-bottom: 43px;
  }
}iframe{
	 overflow-y: hidden;
border:none;
	} 