 .u-section-1 {
  min-height: 500px;
}

.u-section-1 .u-sheet-1 {
  min-height: 749px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 607px;
  height: auto;
  margin-top: 0;
  margin-bottom: 60px;
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: auto;
  }
	iframe{
    border: none;
    position: absolute;
    height: 3190px;
    top: 28%;
	} 
}

iframe{
border: none;
    position: absolute;
    height: 2633px;
    top: 28%;
	} 
