/* Estilos responsive */

html {
  scroll-behavior: smooth; 
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav {
    background-color: #eee;
    position: fixed;
    width: 100%;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  flex: 1;
  width: 20%;
  text-align: center;
}

nav a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: #333;
}

main {
  padding: 1rem;
  padding-left: 10%;
  padding-right: 10%;
}

section {
  margin-bottom: 2rem;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }
  
  nav li {
    flex: auto;
  }
}

/* Ocultar nav por defecto en mobile */
@media (max-width: 600px) {

  .nav-container {
    position: fixed;
    top: 0;
    right: -300px; /* desplazado fuera de pantalla */
    width: 300px; 
    height: 100vh;
    background: #fff;
    z-index: 999;
    transition: right 0.3s; /* efecto de transición */
  }


  .nav-container.active {
    right: 0; /* muestra el nav al hacer clic */
  }

}

/* Estilos del botón hamburguesa */
.hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  z-index: 1000;
}

/* líneas del ícono hamburguesa */  
.hamburger span {
  width: 100%;
  height: 3px;
  background: #333;
}

@media (max-width: 600px) {

  nav {
    height: 0; 
    transition: height 0.3s;
  }
  
  .nav-container.active nav {
    height: 100%; 
  }

}

.content {
  display: flex;
  flex-direction: column;
}

.content2 {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .content {
    flex-direction: row;
    align-items: center;
  }
  .content2 {
    flex-direction: row-reverse;
    align-items: center;
  }
  .text {
    flex: 1;
    padding-right: 20px;
  }
  .image {
    flex: 1;
  }
}

.image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 20px; /* Espacio entre el texto y la imagen en dispositivos pequeños */
}

.glass-button {
  background: rgba(255, 255, 255, 0.2); /* Fondo con transparencia */
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
              0 1px 3px rgba(0, 0, 0, 0.08); /* Sombras */
  transition: transform 0.3s ease;
}

.glass-button:hover {
  transform: translateY(-2px); /* Efecto de levantamiento al pasar el mouse */
}

.glass-button a {
  color: inherit;
  text-decoration: none;
}