.parrafo {
 display: flex;
 justify-content: center;
}

.parrafo p {
  background-color: rgba(0,0,0, .1);
  width: 100%;
  
  height: 100px;
  
  margin: auto;
  white-space: wrap;
  overflow: hidden;
}
