.parrafo {
 display: flex;
 justify-content: center;
}
h3 { font-size: 2hv; }
h3 { font-family: arial; }
.parrafo p {
  
  width: 100%;
  
  height: 250px;
  
  margin: auto;
  white-space: wrap;
  overflow: hidden;
}
